@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 300;
    src: url('../fonts/poppins-v24-latin-300.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 400;
    src: url('../fonts/poppins-v24-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
     font-weight: 600;
    src: url('../fonts/poppins-v24-latin-600.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 900;
    src: url('../fonts/poppins-v24-latin-900.woff2') format('woff2');
}

:root {
    --color-brand: #819B57;
    --primary-dark: #31261A;
    --primary-light: #FAF4EA;
    --secondary-brand: #465929;
}

/* Global */
body {
    color: var(--primary-dark);
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
}

.section {
   padding: 48px 0; 
}

.visually-hidden {
position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

body .accent {
    color: var(--color-brand);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.section-title {
    color: var(--primary-dark);
}

.section-title .accent {
    color: var(--secondary-brand);
}

.section-title {
    font-size: 64px;
    font-weight: 900;
    line-height: 1.3;
}

address {font-style: normal;}

.container {
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
}

/* Header */
.header-container {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 40px;
}

.header-menu{
   display: flex; 
   gap: 64px;
   flex-grow: 1;
   justify-content: center;
}

/* Button */
.button {
    padding: 16px 32px;
    color: var(--primary-light);
    background-color: var(--color-brand);
    border: 2px solid var(--color-brand);
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
}

.button:hover {
    color: var(--secondary-brand);
    background-color: transparent;
}

/* Link */
.link {
    color: var(--primary-light);
    text-decoration: none; 
}

.link:hover {
    color: var(--color-brand);
}

/* Hero section */
.hero-section {
   padding: 272px 0; 
}

.hero-title {
    color: var(--primary-light);
    text-align: center;
    font-size: 128px;
    font-weight: 900;
    margin-bottom: 0;
}

.hero-title .accent {
    color: var(--color-brand);
}

/* Advantages section */
.advantages-list {
    color: var(--primary-light);
    background-color: var(--color-brand);
}

.advantages-items {
    font-weight: 300;
    font-size: 20px;
}

/* Traditions section */
.traditions-title {
    margin-bottom: 42px;
}

.traditions-section {
    padding-top: 96px;
}

.traditions-text .brand {
    color: var(--color-brand);
    font-weight: 600;
}

.traditions-text .uppercase {
    text-transform: uppercase;
}

/* Cooks section */
.cooks-title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 16px;
}

.cooks-section-title {
    margin-bottom: 80px;
}

/* Formats section */
.formats-title {
    font-size: 24px;
    font-weight: 600;
}
.formats-section-title {
margin-bottom: 80px;
}

.formats-text {
    font-size: 14px;
    font-weight: 300;
}

/* Join section */
.join-section-sitle {
    margin-bottom: 16px;
}

/* Address section */
.address-link {
    font-weight: 300;
    font-size: 16px;
    color: var(--primary-light);
    text-decoration: none;
}

.address-link:hover {
    color: var(--color-brand)
}

.address-copyriht {
    font-size: 14px;}