:root {
    --color-brand: #819B57;
    --primary-dark: #31261A;
    --primary-light: #FAF4EA;
    --secondary-brand: #465929;
}

/* Global */
body {
    color: var(--primary-dark);
}

body .accent {
    color: var(--color-brand);
}

ul {
    list-style-type: none;
}

.section-title {
    color: var(--primary-dark);
}

.section-title .accent {
    color: var(--secondary-brand);
}

/* Button */
.button {
    color: var(--[primary-light]);
    background-color: var(--color-brand);
    border: 2px solid var(--color-brand);
    border-radius: 8px;
    cursor: pointer;
}

.button:hover {
    color: var(--secondary-brand);
    background-color: transparent;
}

/* Link */
.link {
    color: var(--[primary-light]);
}

.link:hover {
    color: var(--color-brand);
}

/* Hero section */
.hero-title {
    color: var(--[primary-light]);
}

.hero-title .accent {
    color: var(--color-brand);
}

/* Advantages section */
.advantages-list {
    color: var(--[primary-light]);
    background-color: var(--color-brand);
}

