@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 300;
    src: url('../fonts/poppins-v24-latin-300.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 400;
    src: url('../fonts/poppins-v24-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
     font-weight: 600;
    src: url('../fonts/poppins-v24-latin-600.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 900;
    src: url('../fonts/poppins-v24-latin-900.woff2') format('woff2');
}

:root {
    --color-brand: #819B57;
    --primary-dark: #31261A;
    --primary-light: #FAF4EA;
    --secondary-brand: #465929;
}

/* Global */
body {
    color: var(--primary-dark);
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}

body .accent {
    color: var(--color-brand);
}

ul {
    list-style-type: none;
}

.section-title {
    color: var(--primary-dark);
}

.section-title .accent {
    color: var(--secondary-brand);
}

.section-title {
    font-size: 64px;
    font-weight: 900;
    line-height: 1.3;
}

address {font-style: normal;}

/* Button */
.button {
    color: var(--primary-light);
    background-color: var(--color-brand);
    border: 2px solid var(--color-brand);
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
}

.button:hover {
    color: var(--secondary-brand);
    background-color: transparent;
}

/* Link */
.link {
    color: var(--primary-light);
    text-decoration: none; 
}

.link:hover {
    color: var(--color-brand);
    font-weight: 600;
}

/* Hero section */
.hero-title {
    color: var(--primary-light);
    text-align: center;
    font-size: 128px;
    font-weight: 900;
}

.hero-title .accent {
    color: var(--color-brand);
}

/* Advantages section */
.advantages-list {
    color: var(--primary-light);
    background-color: var(--color-brand);
}

.advantages-items {
    font-weight: 300;
    font-size: 20px;
}

/* Traditions section */
.traditions-text .brand {
    color: var(--color-brand);
    font-weight: 600;
}

.traditions-text .uppercase {
    text-transform: uppercase;
}

/* Cooks section */
.cooks-title {
    font-size: 40px;
    font-weight: 600;
}

/* Formats section */
.formats-title {
    font-size: 24px;
    font-weight: 600;
}

.formats-text {
    font-size: 14px;
    font-weight: 300;
}

/* Address section */
.address-link {
    font-weight: 300;
    font-size: 16px;
    color: var(--primary-light);
    text-decoration: none;
}

.address-link:hover {
    color: var(--color-brand)
}

.address-copyriht {
    font-size: 14px;}